<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Breizhlink</display-name>
  <servlet>
    <servlet-name>ShortenController</servlet-name>
    <servlet-class>src.main.java.controller.ShortenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortenController</servlet-name>
    <url-pattern>/shorten</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LinkRedirectController</servlet-name>
    <servlet-class>src.main.java.controller.LinkRedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkRedirectController</servlet-name>
    <url-pattern>/y/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LinkCheckController</servlet-name>
    <servlet-class>src.main.java.controller.LinkCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkCheckController</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>src.main.java.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyEmailController</servlet-name>
    <servlet-class>src.main.java.controller.VerifyEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyEmailController</servlet-name>
    <url-pattern>/verify/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountActivatedController</servlet-name>
    <servlet-class>src.main.java.controller.AccountActivatedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountActivatedController</servlet-name>
    <url-pattern>/account_activated</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>src.main.java.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>src.main.java.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthenticatedShortenController</servlet-name>
    <servlet-class>src.main.java.controller.AuthenticatedShortenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticatedShortenController</servlet-name>
    <url-pattern>/auth/shorten</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrlListController</servlet-name>
    <servlet-class>src.main.java.controller.UrlListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlListController</servlet-name>
    <url-pattern>/auth/urls</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatsController</servlet-name>
    <servlet-class>src.main.java.controller.StatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsController</servlet-name>
    <url-pattern>/auth/stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BotDetect Captcha</servlet-name>
    <servlet-class>com.captcha.botdetect.web.servlet.SimpleCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BotDetect Captcha</servlet-name>
    <url-pattern>/botdetectcaptcha</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/views/404.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>/views/index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://localhost:8080/taglibs/captcha</taglib-uri>
      <taglib-location>/WEB-INF/lib/captcha_taglib.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://localhost:8080/taglibs/pagination</taglib-uri>
      <taglib-location>/WEB-INF/lib/pagination_taglib.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>