body {
    font-family: 'Roboto';
}

.mainwrapper {
    margin-top: 60px;
}

.stickyheader {
    overflow: hidden;
    height: 60px;
    background-color: rgb(49, 50, 116);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: white;
    font-family: 'Roboto';
}

.header-content {
    margin-left: 35px;
    margin-top: 3px;
}

.header-margin {
	height: 60px;
	background-color: #3b3f44;
}

.errorText {
	color: red;
}

.nav-right {
	float: right;
	margin-right: 15px;
	margin-top: 17px;
}

.nav-link:link {
	color: white !important;
    text-decoration: none !important;
}

.nav-link:visited {
	color: white !important;
    text-decoration: none !important;
}

.nav-link:hover {
	color: white !important;
    text-decoration: none !important;
}

.nav-link:active {
	color: white !important;
    text-decoration: none !important;
} 

.password_div {
	visibility: hidden;
}